{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Document</title>
</head>
<body>
<div class="container3">
    <div class="container2">
        <img class="img-size" src="{% static 'images/caps.png' %}" alt="caps_logo">
        <img class="img-size" src="{% static 'images/c1.png' %}" alt="caps_logo">
        <div class="container4">
        <img class="img-size" src="{% static 'images/c2.jfif' %}" alt="caps_logo">
        <img class="img-size" src="{% static 'images/c3.jfif' %}" alt="caps_logo">
            </div>
    </div>
</div>

</body>
</html>